<header>
    <div id="grid-row-1">
        <p class="hd-title" >Sue's Gluten Free Bakery</p1>
        <p class="hd-tagline">-- A taste of Grandma's Baking without the Gluten</p>
        <img src="/images/BakeryBanner.png" class="hd-image-ban">
    </div>
 
</header>