<!DOCTYPE html>
<html lang="en">
 <%- include("../partials/head.ejs", {title: "Employee Home"}) %> 
    <div id="grid-container">
        <body>
            <%- include("../partials/header.ejs", {title: "Employee Home"}) %> 
            <main>
                <div id="grid-row-2"></div>
                <div id="grid-row-3">
                    <a href="/employee/signup"><button id="button-grid-3">Signup</button></a>
                    <a href="/employee/login"><button id="button-grid-3">Login</button></a>    
                </div>
            </main>
        </body>
    </div>
</html>