<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Employee Sign Up"}) %> 
    <body>
        <div id="grid-container">
        <%- include("../partials/header.ejs") %> 
            <main>
                <div id="grid-row-2 nav-menu" >
                    <nav id="nav-menu">
                        <a href="/employee">Home</a>
                        <a href="/employee/login">LogIn</a>
                    </nav>
                <div id="grid-row-3">
                    <h4 class="hd-pg-title">Employee Sign Up</h4>  
                </div>
                <div id="grid-row-4">
                    <form action="/employee/signup" method="post">
                        <div>
                            <fieldset>
                                <label>
                                    USERNAME: <input type="text" name="username" required /><br><br>
                                </label>
                                <label>
                                    PASSWORD: <input type="password" name="password"
                                    required /><br><br>
                                </label>

                                <label>
                                    EMPLOYEE ID: <input type="text" name="employeeId" required /><br><br>
                                </label>
                                
                                <label>
                                    FIRST NAME: <input type="text" name="firstName" required /><br><br>
                                </label>
                                <label>
                                    LAST NAME: <input type="text" name="lastName"
                                    required /><br><br>
                                </label>

                                <input type="submit" value="Create Signin" id="button-grid-3"/>
                            </fieldset>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>